div a, #menu li.active a {
    color: #0088ff;    
}

div a:hover, #description div ul li:hover, #menu li a {
    color: #63b0fd;
}

div a {
    text-decoration: none;
}
#main, #description, #infova{
    color: #596067;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 16px;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}
.hidden {
    display: none;
}

.inputDiv {
    color: steelblue;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 0;
    text-align: left;
}

.small {
    font-size: small;
}

.output span{
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 12px;
}

#header {
    float: none;
    width: 370px;
}
#questao {
    width: 240px;
}
.clear {
    clear: both;
}
.error {
    color: #F26522;
}

.left {
    float: left;
}
.right {
    float: right;
}

.clickable {
    cursor: pointer;
}

#inputarea{
    /*margin-left: -80px;
    margin-top: 1px;
    margin-bottom: 5px;*/
    width: 314px;
    margin: 0 auto;
}

#main {
    /*    float: right;*/
    width: 315px;
    margin: 0 auto;
}
#main, #mainOutput {
    z-index: 100
}

.mainOutput {
	overflow:auto;
	overflow-x:hidden;
	max-height:350px;
}

.output {
    /* speaker - padding */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;

	background-color: #ceff62;
    border: 1px groove #ccc;
    border-radius: 9px;
    margin-bottom: 0;
    margin-top: 2px;
    padding: 5px;
    width: 290px;
    align: left;
}

#divhead {
    margin: 0 auto;
    width: 315px;
    color: #596067;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
}

.debug {
    color: red;
    font-size: 10px;
}